.container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--primary-teal);
  cursor: pointer;
}

.pageIndex {
  color: #999999;
  cursor: pointer;
  padding: 4px;
}

.active {
  color: #0a9ce0;
  font-weight: 700;
  cursor: pointer;
  padding: 4px;
}
