.container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--primary-teal);
  cursor: pointer;
}

.pageIndex {
  color: var(--primary-gray);
}

.active {
  color: var(--primary-teal);
  font-weight: 500;
}
