.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  color: var(--primary-white);
  cursor: pointer;
  border: none;
}

.primary {
  background-color: var(--primary-black);
}

.disabled {
  background-color: var(--secondary-black);
  cursor: not-allowed;
}
