.container {
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--primary-black);
}

.image {
  height: 30rem;
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
